{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-console": "warn",
    "no-alert": "error",
    "no-duplicate-imports": "error",
    "no-unused-private-class-members": "error",
    "camelcase": "error",
    "eqeqeq": "error",
    "no-magic-numbers": "off"
  }
}
