body {
  margin: 0px;
  font-family: Tahoma;
  font-size: 13px;
  letter-spacing: 0.5px;
}

.control-panel-button-container {
  display: flex;
  justify-content: left;
}

.control-panel-button {
  color: #fff;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  transition: 0.1s;
}

.control-panel {
  width: 0px;
  max-height: 60%;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 0.6rem;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto;
  padding-top: 60px;
  transition: 0.2s;
}

.control-panel .close-button {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  color: #fff;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 30px;
}

.control-panel > .control-panel-content {
  width: 350px;
  overflow: hidden;
}

.control-panel .slider-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.control-panel .slider-title {
  color: #fff;
  margin-left: 10px;
}

.control-panel .slider-output {
  color: #fff;
  background-color: #3691ec;
  border-radius: 7px;
  align-items: center;
  padding: 4px 6px 4px 6px;
  margin-left: 10px;
}

.control-panel .slider-component {
  color: #fff;
  margin-left: auto;
}

.control-panel .slider-checkbox-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.control-panel .slider-checkbox-component {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 15px 0px 10px 10px;
  margin-left: 10px;
}

.control-panel .checkbox-label {
  color: #fff;
}
